*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #000;
    background: linear-gradient(180deg, #D7F5DC 0%, #D7F5DC 100%);
}

.header {
    width: 100%;
    /* height: 100vh; */
    padding: 15px 0 34px 0;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}


.menubar {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    align-items: center;
}

.logo-left {
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
}

.logo-right {
    color: #F55F1D;
}

.navbar {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
}

.header .mobile-navbar {
    display: none;
}

.navbar a {
    padding: 10px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    transition: all 500ms ease;
}

.navbar a:hover {
    color: #F55F1D;
}

.header .header-area .mobile-menu {
    display: none;
}

.btn {
    border-radius: 10px;
}

.btn-mobile {
    border: 1px solid black;
    padding: 10px 20px;
    text-align: center;
    transition: all 500ms ease;
}

.btn-mobile:hover {
    background-color: #20B15A;
    color: #FFF;
}

.btn-a {
    padding: 0 20px;
    transition: all 500ms ease;
}

.btn-login {
    outline: 1px solid #20B15A;
    transition: all 500ms ease;
}

.btn-login:hover {
    border: none;
    background-color: #20B15A;
}

.btn-login:hover .btn-a {
    color: #FFFFFF;
}

.btn-register {
    background: #20B15A;
}

.btn-register .btn-a {
    color: #FFFFFF;
}

.btn-register:hover {
    background: transparent;
    outline: 1px solid #20B15A;
    transition: all 1500ms ease;
}

.btn-register:hover .btn-a {
    color: #000;
}

.center-div {
    margin-top: 65px;
    display: flex;
    padding-bottom: 80px;
}

.center-left {
    padding: 39px 0;
    width: 45%;
}

.center-div .center-left h1 {
    white-space: pre-line;
    color: #000;
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
    margin-bottom: 10px;
}

.center-div .center-left p {
    white-space: pre-line;
    color: #000;
    font-family: 'Sen', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 50px;
}

.btn-b {
    padding: 20px 30px;
    background-color: #20B15A;
    display: inline-block;
    border-radius: 16px;
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    outline: 1px solid #20B15A;
    transition: all 400ms ease-in-out;
}

.btn-b:hover {
    background: transparent;
    color: #000;
}

.center-right {
    width: 55%;
}

.center-div .center-right .hero {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.center-div .center-right .hero .hero-top {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.center-div .center-right .hero .hero-bottom {
    display: flex;
    width: 100%;
    justify-content: space-between;
}


.center-div .center-right .hero .hero-top .img1 {
    width: 64%;
    height: 288px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}

.center-div .center-right .hero .hero-top .img2 {
    width: 34%;
    height: 288px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}

.center-div .center-right .hero .hero-bottom .img3 {
    width: 34%;
    height: 164px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}

.center-div .center-right .hero .hero-bottom .img4 {
    width: 64%;
    height: 164px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}

.bottom-div {
    padding: 0px 0px;
    background-color: #FFF;
    padding: 45px 0;
}

.bottom-div .wrapper .brands {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    gap: 140px;
}

.bottom-div .brands img {
    object-fit: cover;
    object-position: center;

}

/* Work list */
.work-list {
    background-color: #FFF;
    padding: 65px 0;
}

.work-list .wrapper .top-work-list p {
    color: #20B15A;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.work-list .wrapper .top-work-list h3 {
    color: #000;
    font-size: 30px;
    font-weight: 600;
    white-space: pre-line;
}

.work-list .wrapper .bottom-work-list {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}

.work-list .wrapper .bottom-work-list .work-card {
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
}

.work-list .wrapper .bottom-work-list .icon {
    align-self: flex-start;
    font-size: 30px;
    padding: 25px;
    border-radius: 20px;
    background: #D7F5DC;
    margin-bottom: 15px;
}

.work-list .wrapper .bottom-work-list h4 {
    color: #000;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.work-list .wrapper .bottom-work-list p {
    color: #000;
    font-family: 'Sen', sans-serif;
    font-size: 18px;
    font-weight: 400;
    white-space: pre-line;
    margin-bottom: 40px;
}

.work-list .wrapper .bottom-work-list .link-container {
    display: flex;
    align-items: center;
    transition: all 800ms ease;
    width: min-content;
    white-space: nowrap;
}

.work-list .wrapper .bottom-work-list .link-container a {
    color: #000;
    font-family: 'Sen', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    padding: 15px 10px 15px 15px;
    transition: all 800ms ease;
    justify-content: start;
}

.work-list .wrapper .bottom-work-list .link-container:hover {
    background-color: #F55F1D;
    width: 150px;
    border-radius: 10px;
    color: #FFF;
    width: min-content;
    padding-right: 15px;
}

.work-list .wrapper .bottom-work-list .link-container:hover a {
    color: #FFF;
}

/* statistics */
.statistics {
    width: 100%;
    background: #FFF;
    padding: 65px 0;
}

.statistics .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 29px;

}

.statistics .wrapper .stat-div {
    padding: 40px 0px;
    text-align: center;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 4px 9px 20px 0px rgba(0, 0, 0, 0.07);

}

.statistics .wrapper .stat-div i {
    padding: 30px;
    background: #D7F5DC;
    border-radius: 10px;
    font-size: 30px;
}

.statistics .wrapper .stat-div h5 {
    color: #000;
    font-size: 30px;
    font-weight: 600;
    margin-top: 22px;
}

.statistics .wrapper .stat-div p {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    margin-top: 4px;
}

/* feature project */
.feature-project {
    background: #F0FDF4;
    padding: 62px 0 84px 0;
}

.feature-project .wrapper .project-top {
    margin-bottom: 72px;
}

.feature-project .wrapper .project-top p {
    color: #20B15A;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 24px;
}


.feature-project .wrapper .project-top h4 {
    color: #000;
    font-size: 30px;
    font-weight: 600;
    white-space: pre-line;
}

.feature-project .wrapper .project-bottom {
    width: 100%;
    display: flex;
    gap: 30px;
}

.feature-project .wrapper .project-bottom .project-bottom-left {
    width: 50%;
}

.feature-project .wrapper .project-bottom .project-bottom-left img {
    width: 100%;
    height: 530px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}

.feature-project .wrapper .project-bottom .project-bottom-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.feature-project .wrapper .project-bottom .project-bottom-right .single-div-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.feature-project .wrapper .project-bottom .project-bottom-right .single-div-bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.feature-project .wrapper .project-bottom .project-bottom-right img {
    width: 100%;
    height: 185px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}

.feature-project .wrapper .project-bottom .bottom-p {
    color: #2E3E5C;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin: 15px 0 10px 0;
}

.feature-project .wrapper .project-bottom .project-bottom-right .bottom-p {
    margin: 12px 0 8px 0;
}

.feature-project .wrapper .project-bottom .project-bottom-left .project-bottom-left-a {
    color: #1E1F4B;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-decoration: none;
    transition: all 500ms ease;
}

.feature-project .wrapper .project-bottom .project-bottom-left .project-bottom-left-a:hover {
    color: #F55F1D;
}

.feature-project .wrapper .project-bottom .project-bottom-right .bottom-b-a {
    color: #2E3E5C;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    text-transform: capitalize;
    text-decoration: none;
    transition: all 500ms ease;
}

.feature-project .wrapper .project-bottom .project-bottom-right .bottom-b-a:hover {
    color: #F55F1D;
}

/* subscribe */
.subscribe {
    padding: 91px 0 135px 0;
    width: 100%;
    background-color: #FFF;
    text-align: center;
}

.sub-wrapper {
    max-width: 625px;
    margin: 0 auto;
    height: 100%;
}

.subscribe .sub-wrapper .content-wrapper {
    padding: 0 40px;
}

.subscribe .sub-wrapper .sub-top-p {
    color: #20B15A;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 22px;
}

.subscribe .sub-wrapper h4 {
    color: #000;
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
    white-space: pre-line;
    margin-bottom: 5px;
}

.subscribe .sub-wrapper .sub-bottom-p {
    color: #8B8B8B;
    font-family: 'Sen', sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 40px;
}

.subscribe .sub-wrapper form {
    position: relative;
}

.subscribe .sub-wrapper form input {
    border-radius: 14px;
    padding-right: 12px;
    border: 1px solid #000;
    padding: 20px 150px 20px 16px;
    width: 100%;
    font-size: 18px;
}

.subscribe .sub-wrapper form button {
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    padding: 15px 24.325px;
    border-radius: 14px;
    background: #F55F1D;
    border: none;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    transition: all 400ms ease;
}

.subscribe .sub-wrapper form button:hover {
    background-color: #ce4409;
}

/* footer */
.footer {
    width: 100%;
    background: #000;
    color: #FFF;
    padding: 60px 0 29px 0;
}

.footer .wrapper .quick-link-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin-bottom: 69px;
}


.footer .wrapper .quick-link-container .q-link-1 h2 {
    font-size: 39.2px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 19px;
    padding-left: 20px;
}

.footer .wrapper .quick-link-container .q-link-1 p {
    color: #FFF;
    font-family: 'Sen', sans-serif;
    white-space: pre-line;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    padding-left: 10px;
}

.footer .wrapper .quick-link-container .q-link-1 .icons-container a i {
    color: #FFF;
    font-size: 18px;
    padding: 10px 10px;
    border-radius: 50%;
    background-color: #20B15A;
    transition: all .5s linear;
}

.footer .wrapper .quick-link-container .q-link-1 .icons-container a i:hover {
    background-color: #045926;
    color: #c8dee2;
}

.footer .wrapper .quick-link-container .q-link-1 .icons-container .my-fb-icon {
    padding: 10px 13px;
}

.footer .wrapper .quick-link-container .q-link-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .wrapper .quick-link-container .q-link-2 h5 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
}

.footer .wrapper .quick-link-container .q-link-2 ul {
    list-style: none;
    margin-left: -15px;
}

.footer .wrapper .quick-link-container .q-link-2 ul li {
    font-family: 'Sen', sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 25px;
}

.footer .wrapper .quick-link-container .q-link-2 ul li a {
    color: #FFF;
    text-decoration: none;
    transition: all 400ms linear;
}

.footer .wrapper .quick-link-container .q-link-2 ul li a:hover {
    color: #F55F1D;
}

.footer .wrapper .quick-link-container .q-link-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;
    /* changes is done here */
}

.footer .wrapper .quick-link-container .q-link-3 h5 {
    width: 110%;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 26px;
}

.footer .wrapper .quick-link-container .q-link-3 p {
    white-space: pre-line;
    font-family: 'Sen', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.footer .wrapper>p {
    font-family: 'Sen', sans-serif;
    font-size: 20px;
    font-weight: 500;
}


@media(max-width: 1400px) {
    .wrapper {
        width: 1100px;
    }

    .work-list .wrapper .bottom-work-list .work-card {
        padding-left: 10px;
        padding-right: 10px;
    }

    .bottom-div .wrapper .brands {
        gap: 124px;
    }
}

@media(max-width: 1200px) {
    .wrapper {
        width: 1000px;
    }

    .bottom-div .wrapper .brands {
        gap: 90px;
    }

    .work-list .wrapper .bottom-work-list .work-card {
        padding-left: 7px;
    }
}

@media(max-width: 1050px) {
    .wrapper {
        width: 900px;
    }

    .header .navbar {
        display: none;
    }

    .header .mobile-navbar {
        display: block;
    }

    .header .mobile-navbar .fa-solid {
        font-size: 25px;
    }

    .header {
        position: relative;
        overflow: hidden;

    }

    .header .header-area .mobile-menu {
        position: absolute;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 100%;
        background-color: #94fdbe;
        display: block;
        transition: all 700ms ease;
        z-index: 1;
    }

    .header .header-area .mobile-menu .fa-xmark {
        font-size: 45px;
        position: absolute;
        right: 70px;
        top: 60px;
    }

    .header .header-area .mobile-menu ul {
        list-style: none;
        font-size: 30px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 150px;
        font-weight: 700;
    }

    .header .header-area .mobile-menu ul li a {
        color: #000;
        text-decoration: none;
        transition: all .5s linear;
    }

    .header .header-area .mobile-menu ul li a:hover {
        color: #F55F1D;
    }

    .header .header-area .mobile-menu .btn-mobile a:hover {
        color: #FFF;
    }

    .bottom-div .wrapper .brands {
        gap: 70px;
    }
}


@media(max-width: 950px) {
    .wrapper {
        width: 800px;
    }

    .center-div {
        flex-direction: column;
        margin-top: 0;
    }

    .center-div .center-left,
    .center-div .center-right {

        width: 100%;
    }

    .center-div .center-left h1 {
        white-space: wrap;
    }

    .bottom-div .wrapper .brands {
        gap: 50px;
    }

    .work-list .wrapper .bottom-work-list .icon {
        align-self: center;
    }

    .statistics .wrapper {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }

    .feature-project .wrapper .project-bottom {
        flex-direction: column;
        gap: 50px;
    }

    .feature-project .wrapper .project-bottom .project-bottom-left {
        width: 100%;
    }

    .feature-project .wrapper .project-bottom .project-bottom-right {
        width: 100%;
    }

    .footer .wrapper .quick-link-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .footer .wrapper .quick-link-container .q-link-3 {
        align-items: center;
        grid-column: span 2;
        text-align: center;
    }
}

@media(max-width: 830px) {
    .wrapper {
        width: 680px;
    }

    .bottom-div .wrapper .brands {
        gap: 20px;
    }

    .work-list .wrapper .bottom-work-list {
        grid-template-columns: repeat(2, 2fr);
        gap: 0px;
    }

    .work-list .wrapper .bottom-work-list .icon {
        align-self: flex-start;
    }
}

@media(max-width: 720px) {
    .wrapper {
        width: 600px;
    }

    .center-div .center-right .hero .hero-top,
    .center-div .center-right .hero .hero-bottom {
        flex-direction: column;
        gap: 20px;
    }

    .center-div .center-right .hero .hero-top .img1 {
        width: 100%;
    }

    .center-div .center-right .hero .hero-top .img2 {
        width: 100%;
    }

    .center-div .center-right .hero .hero-bottom .img3 {
        width: 100%;
    }

    .center-div .center-right .hero .hero-bottom .img4 {
        width: 100%;
    }

    .bottom-div .wrapper .brands {
        grid-template-columns: repeat(2, 1fr);
        gap: 70px;
    }

    .bottom-div .wrapper .brands .brand-img {
        grid-column: span 2;
    }

    .statistics .wrapper {
        gap: 40px;
    }

    .feature-project .wrapper .project-bottom .project-bottom-right .single-div-top {
        flex-direction: column;
    }

    .feature-project .wrapper .project-bottom .project-bottom-right .single-div-bottom {
        flex-direction: column;
    }

    .subscribe .sub-wrapper form {
        padding: 0 15px;
    }

    .subscribe .sub-wrapper form button {
        font-size: 26px;
        min-width: 40%;
        top: 115%;
        left: 50%;
        transform: translateX(-50%);
    }

    .footer .wrapper .quick-link-container {
        grid-template-columns: 1fr;
    }

    .footer .wrapper .quick-link-container .q-link-1 {
        justify-self: center;
    }

    .footer .wrapper .quick-link-container .q-link-3 {
        grid-column: span 1;
    }

    .footer .wrapper .quick-link-container .q-link-3 h5 {
        margin-bottom: 16px;
    }

    .subscribe .sub-wrapper form input {
        padding-right: 12px;
    }
}

@media(max-width: 620px) {
    .wrapper {
        width: 100%;
        padding: 0 50px;
    }

    .center-div .center-left p {
        font-size: 23px;
        white-space: wrap;
    }

    .btn-b {
        font-size: 26px;
    }

    .bottom-div .wrapper .brands {
        gap: 30px;
    }

    .work-list .wrapper .top-work-list p {
        font-size: 24px;
    }

    .work-list .wrapper .top-work-list h3 {
        font-size: 32px;
    }

    .work-list .wrapper .bottom-work-list p {
        font-size: 20px;
    }

    .work-list .wrapper .bottom-work-list .link-container a {
        font-size: 19px;
    }

    .statistics .wrapper .stat-div i {
        font-size: 40px;
    }

    .statistics .wrapper .stat-div h5 {
        font-size: 35px;
    }

    .statistics .wrapper .stat-div p {
        font-size: 20px;
    }

    .work-list .wrapper .bottom-work-list {
        grid-template-columns: 1fr;
        gap: 0px;
    }



    .work-list .wrapper .bottom-work-list p {
        white-space: wrap;
        margin-bottom: 20px;
    }

    .statistics .wrapper {
        grid-template-columns: 1fr;
        gap: 50px;
        justify-items: center;
    }

    .statistics .wrapper .stat-div {
        width: 75%;
    }

    .feature-project .wrapper .project-top p {
        font-size: 24px;
    }

    .feature-project .wrapper .project-top h4 {
        font-size: 32px;
    }

    .feature-project .wrapper .project-bottom .bottom-p {
        font-size: 17px;
    }

    .feature-project .wrapper .project-bottom .project-bottom-left .project-bottom-left-p {
        font-size: 28px;
    }

    .feature-project .wrapper .project-bottom .project-bottom-right .bottom-b-p {
        font-size: 20px;
    }

    .subscribe .sub-wrapper .sub-top-p {
        font-size: 23px;
    }

    .subscribe .sub-wrapper h4 {
        font-size: 34px;
    }

    .subscribe .sub-wrapper .sub-bottom-p {
        font-size: 18px;
    }

    .subscribe .sub-wrapper form input {
        font-size: 20px;
        padding-right: 12px;
    }
}

@media(max-width: 500px) {
    .bottom-div .wrapper .brands {
        grid-template-columns: 1fr;
        gap: 70px;
    }

    .bottom-div .wrapper .brands .brand-img {
        grid-column: span 1;
    }

    .header .header-area .mobile-menu ul {
        top: 108px;
    }
}